@import "variables.scss";

// @import "common.scss";

.#{$namespace}notification {

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    font-size: 14px !important;
    padding: 3px 10px;
    color: darkgrey;

}
