@import "variables.scss";

// @import "common.scss";

.#{$namespace}interactive {

  .#{$namespace}select-button {
    color: white;
    cursor: pointer;
    display: inline;
    background: #135AFE;
    border: none;
    padding: 10px;
    font: inherit;
    border-radius: 5px;
  }

  .#{$namespace}cancel-button {
    color: white;
    cursor: pointer;
    display: inline;
    background: red;
    border: none;
    padding: 10px;
    font: inherit;
    border-radius: 5px;
  }

  .#{$namespace}cancel-margin-button {
    color: white;
    cursor: pointer;
    display: inline;
    background: red;
    border: none;
    padding: 10px;
    font: inherit;
    border-radius: 5px;
    margin-left: 10px;
  }

  .#{$namespace}interactive-spinner-wrapper {
    display: flex;
  }

  div#wave {
    position:relative;
    text-align:center;
    width:25px;
    height:13px;
    margin-left: 5px;
    // margin-right: auto;
    .#{$namespace}dot {
      display:inline-block;
      width:5px;
      height:5px;
      border-radius:50%;
      margin-right:3px;
      background:#939393;
      animation: wave 1.6s linear infinite;
  
      &:nth-child(2) {
        animation-delay: -1.4s;
      }
  
      &:nth-child(3) {
        animation-delay: -1.2s;
      }
    }
  }
  
  @keyframes wave {
    0%, 60%, 100% {
      transform: initial;
    }
  
    30% {
      transform: translateY(-5px);
    }
  }

}
